@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  padding: 48px;
}

@media (max-width: 600px) {
  body {
    font-size: 24px;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  section div.world {
    grid-gap: 32px;
  }

  section img {
    width: 300px;
  }
}

header a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

body {
  font-family: Necto Mono;
  font-size: 32px;
  line-height: 1.5;

  background-color: #111118;
  color: #ffffff;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.borderImg {
  border: 13px solid transparent;
  border-image: url("../../assets/pixil-frame-0.png") 16 round;
  position: relative;
}

.overlay-dark {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: radial-gradient(
    ellipse closest-side at 15% 60%,
    /* Light at bottom-right corner */ rgba(255, 255, 255, 0) 0%,
    /* Transparent in the corner */ rgba(0, 0, 0, 0.903) 80%
  );

  align-items: center;
  pointer-events: none;
  z-index: 1;
}

#overlay-dim {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  pointer-events: none;
  z-index: 9999;
}

.glow::before {
  height: 200px;
  width: 200px;
  content: "";
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 0 10px 5px rgba(234, 232, 158, 0.895);
  background-color: yellow;
}

/* .soundcloud-widget {
  width: 100%;
  height: 90%;
  padding: 20px;
  border-radius: 40px;
}

.soundcloud-widget-container {
  height: 100vh;
  width: 100%;
}

.soundcloud-icon {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  /* box-shadow: 10px 0 10px 10px rgba(37, 37, 37, 0.5); */

.test-div {
  position: relative;
  padding: 40px;
  margin: 100px;
  width: 1000px;
  /* background-color: blue; */
  display: inline-block;
}

.test-div-2 {
  width: 5000px;
  height: 500px;
  background-color: red;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hand-reaching {
  /* width: 60vw; */
  height: 900px;
  position: absolute;
  image-rendering: pixelated;
  /* background-color: blue; */
  z-index: 3;
}

.hand-pointing {
  /* width: 60vw; */
  height: 800px;
  position: absolute;
  transform: rotateZ(-25deg);
  /* image-rendering: pixelated; */
  z-index: 3;
}

.contact-header {
  position: absolute;
  top: 100px;
  left: 40px;
  width: 20%;
  height: 50px;
  /* background-color: rgb(174, 161, 218); */
}

.contact-header h1 {
  font-size: 1.2em;
  font-weight: 600;
  color: white;
}
